.color_text{
		color: #dad7db;
	}
	body{
		/*width: 1920px;*/
		padding: 0px;
		margin: 0px;
		font-family: "Open Sans", Sans-serif;
		/* font-size: 14px;*/
	}
	/*@media all and (max-width: 1366px) {
	   body {
		width: 1136px;
		  font-family: Verdana,sans-serif;
		 font-size: 14px;
	   }
	}*/
	/*@media all and (max-width: 1366px){
		 #layout{
			width: 1170px;
			display: flex;
			margin: auto;
		}
	}
	@media all and (max-width: 1366px){
		#header{
			height: 150px;
			width: 1366px;
			background-color: #11375b;
		}
	}*/
div#wapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}
.gototop {
    position: fixed;
    bottom: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #c7bdcb;
    text-align: center;
    padding-top: 10px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}