

.right{
	text-align: right;
	float: right;
	padding-right: 20px;
}
.title_new_story {
	margin-top: 30px;
	background-color: #11375b;
	height: 45px;
	padding-top: 10px;
	padding-left: 10px;
}

a.color_text:hover {
	text-decoration: none;
	background-color: #11375b;
	color: white;
}
a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	margin-right: -26px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000  no-repeat -200px 25px;
}
.next {
	right:0;
	background: #000  no-repeat -167px 25px;
}

.slider {
	height:200px;
	position: relative;
	margin-top: 30px;
}
.slider ul li{
	list-style: none;
}
.image_slider{
	margin-left: -12px;
}
.new_story{
	margin-top: 15px;
	width: 200px;
	height: 350px;
	background-color: #dad7db;
	float: left;
	margin-right: 23px;
	border-radius: 8px;
}
.new_story.end{
	margin-right: 0px;
}
.text_new_story{
	text-align: center;
	color: #11375b;
	border-radius: 4px;
}
.content_new_face {
	margin-top: 15px;
}
.container.truyenbo{
}
.content_top_story{
	height: 715px;
	margin-top: 15px;
	background-color: #dad7db;
}
a.text_top {
	font-size: 12px;
	margin-left: 10px;
	margin-top: 10px;
}
.top_xephang {
	padding-top: 20px;
	margin-bottom: 15px;
	padding-left: 5px;
	height: 72px;
	display: inline-flex;
}
