@media only screen and(max-width: 1200px) and(min-width: 992px){
	.content_new_face {
	    margin-top: 15px;
	    width: 165px;
	}
	iframe {
	    width: 165px;
	}
}
.wapper{
	background-color: #F8F8FF;
}
.image_read{
	width: 100%;
}
#flipbook .turn-page{
	width:50%;
	height:500px;
	background-color:#F8F8FF;
}
.mybook{
	
}
.hard{
	background-color: aqua;
	font-size: 1.2em;
	outline: 1 #DCD;
	border-radius: 10px;
}
.page_chirld{
	background-color: #CCC;
	border-radius: 10px;
}
.page-wrapper{
}
.all{
	margin-left: 250px;

}